{% extends "layout.html" %}

{% block container %}

{% import "_macros.html" as macros %}

<div style="margin-top: 50px;"
    class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <a
        href="alumnos"
        class>
        <button type="button"
            class="inline-flex items-center  text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Nuevo
            <span
                class="inline-flex items-center justify-center w-4.5 h-4.5 ms-2 text-xs font-medium text-fg-brand-strong bg-brand-soft rounded-full dark:text-fg-brand-subtle">2</span>
        </button>
    </a>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead
            class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apaterno
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    email
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    editar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    detalle
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            {%for alum in alumno%}
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row"
                    class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{alum.nombre}}
                </th>
                <td class="px-6 py-4">
                    {{alum.apaterno}}
                </td>
                <td class="px-6 py-4">
                    {{alum.email}}
                </td>
                <td class="px-6 py-4">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-heading focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                        <span
                            class=" relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent group-hover:dark:bg-transparent leading-5">
                            Red to Yellow
                        </span>
                    </button>
                </td>
                <td class="px-6 py-4">
                    <a href="detalle">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-heading focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                        <span
                            class=" relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent group-hover:dark:bg-transparent leading-5">
                            Destalles
                        </span>
                    </button></a>
                </td>
                <td class="px-6 py-4">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                        <span
                            class=" relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent group-hover:dark:bg-transparent leading-5">
                            Purple to pink
                        </span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}